$breakpoints: (
  tablet: 768px,
  desktop: 1024px
);

@mixin desde($tamano) {
  @if map-has-key($breakpoints, $tamano) {
    @media (min-width: map-get($breakpoints, $tamano)) {
      @content;
    }
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
